<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.javaclimb.medical.dao.PatientMapper">
    <resultMap id="BaseResultMap" type="com.javaclimb.medical.domain.Patient" >
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="sex" jdbcType="TINYINT" property="sex"/>
        <result column="birth" jdbcType="TIMESTAMP" property="birth"/>
        <result column="tel" jdbcType="VARCHAR" property="tel"/>
        <result column="doctor_name" jdbcType="VARCHAR" property="doctorName"/>
        <result column="doctor_id" jdbcType="INTEGER" property="doctorId"/>
        <result column="picture" jdbcType="VARCHAR" property="picture"/>
    </resultMap>


    <sql id="Base_Column_List">
        id,name,password,sex,birth,tel,doctor_id,doctor_name,picture
    </sql>

    <insert id="insert" parameterType="com.javaclimb.medical.domain.Patient">
        insert into Patient
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id!= null">
                id,
            </if>
            <if test="name!= null">
                name,
            </if>
            <if test="password!= null">
                password,
            </if>
            <if test="sex!= null">
                sex,
            </if>
            <if test="birth!= null">
                birth,
            </if>
            <if test="tel!= null">
                tel,
            </if>

            <if test="doctorId!= null">
                doctor_id,
            </if>
            <if test="doctorName!= null">
                doctor_name,
            </if>
            <if test="picture!= null">
                picture,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id!= null">
                #{id},
            </if>
            <if test="name!= null">
                #{name},
            </if>
            <if test="password!= null">
                #{password},
            </if>
            <if test="sex!= null">
                #{sex},
            </if>
            <if test="birth!= null">
                #{birth},
            </if>
            <if test="tel!= null">
                #{tel},
            </if>

            <if test="doctorId!= null">
                #{doctorId},
            </if>
            <if test="doctorName!= null">
                #{doctorName},
            </if>
            <if test="picture!= null">
                #{picture},
            </if>
        </trim>
    </insert>



    <update id="update" parameterType="com.javaclimb.medical.domain.Patient">
        update Patient
        <set>
            <if test="password!= null">
                password = #{password},
            </if>
            <if test="name!= null">
                name = #{name},
            </if>
            <if test="sex!= null">
              sex = #{sex},
            </if>
            <if test="birth!= null">
               birth = #{birth},
            </if>
            <if test="tel!= null">
               tel = #{tel},
            </if>
            <if test="doctorName!= null">
               doctor_name = #{doctorName},
            </if>
            <if test="doctorId!= null">
                doctor_id = #{doctorId},
            </if>
            <if test="picture!= null">
                picture = #{picture},
            </if>
        </set>
        where  id =#{id}
    </update>

    <delete id="delete" parameterType="java.lang.Integer">
        delete from Patient
        where id=#{id}
    </delete>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"></include>
        from patient
        where doctor_id=#{id};
    </select>

    <select id="selectByPatientKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"></include>
        from patient
        where id=#{id};
    </select>


    <select id="allPatient" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"></include>
        from patient
    </select>

    <select id="PatientOfName" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"></include>
        from Patient
        where name like #{name}
    </select>

    <select id="getByPatient" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"></include>
        from Patient
        where name = #{name}
    </select>






    <select id="PatientOfDoctorName" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"></include>
        from Patient
        where doctor_name == #{doctorName}
    </select>
    <select id="verifyPassword" resultType="java.lang.Integer">
        select count(*) from patient where name=#{name} and password=#{password}
    </select>




</mapper>